# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [3]:
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
df = dataframe = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [4]:
print(venda)
venda

{'data': ['15/02/2021', '16/02/2021'], 'valor': [500, 300], 'produto': ['feijao', 'arroz'], 'qtde': [50, 70]}

{'data': ['15/02/2021', '16/02/2021'],
 'valor': [500, 300],
 'produto': ['feijao', 'arroz'],
 'qtde': [50, 70]}

### Importando arquivos e bases de dados

In [6]:
venda_df = pd.read_excel("Vendas.xlsx")

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [22]:
venda_df.head()
# venda_df.describe()
# print(venda_df.shape)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

### Pegar 1 coluna (e os pd.Series)

In [26]:
venda_df[["Produto","Data"]]

                 Produto       Data
0         Sapato Estampa 2019-01-01
1               Camiseta 2019-01-01
2          Sapato Xadrez 2019-01-01
3                Relógio 2019-01-02
4           Chinelo Liso 2019-01-02
...                  ...        ...
93905     Mochila Xadrez 2019-11-30
93906  Pulseira Listrado 2019-11-30
93907     Cueca Listrado 2019-11-30
93908     Pulseira Linho 2019-11-30
93909      Casaco Xadrez 2019-11-30

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [34]:
venda_df.loc[9:14]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
10,8,2019-01-02,Iguatemi Campinas,Terno Estampa,5,706,3530
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294
12,9,2019-01-02,Shopping Center Leste Aricanduva,Casaco Xadrez,2,259,518
13,10,2019-01-02,Passei das Águas Shopping,Camiseta Xadrez,2,200,400
14,10,2019-01-02,Passei das Águas Shopping,Cueca Liso,1,69,69

### Adicionar 1 coluna

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

### Excluir linhas e colunas

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

### Calcular Indicadores
    - Groupby
    - Value Counts

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)